<div class="main-content">
    <div class="container-fluid">
        <form>
            <!-- <h4>Personal Particulars</h4> -->
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Church ID</label>
                        <input type="text" class="form-control" placeholder="CRP-001" value="" name="churchID">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Church Name</label>
                        <input type="text" class="form-control" placeholder="" value="" name="churchName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Registration Number</label>
                        <input type="text" class="form-control" placeholder="" value="" name="churchID">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="denomination">Denomination</label>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="Singapore">Singapore</mat-option>
                                <mat-option value="Indonesia">Indonesia </mat-option>
                                <mat-option value="India">India</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Type</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2 </mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address1">Address Line 1</label>
                        <textarea name="address1" class="md-textarea form-control" placeholder="Type your address"
                            rows="2"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address2">Address Line 2</label>
                        <textarea name="address2" class="md-textarea form-control" rows="2"
                            placeholder="Type your address"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="" value="" name="city">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="" value="" name="country">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Postal Code</label>
                        <input type="text" class="form-control" placeholder="" value="" name="postalCode">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" name="sameMailingAddress" value=""> &nbsp;
                    <label for="sameMailingAddress">Mailing Address Same as Above</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address1">Address Line 1</label>
                        <textarea name="address1" class="md-textarea form-control" placeholder="Type your address"
                            rows="2"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="address2">Address Line 2</label>
                        <textarea name="address2" class="md-textarea form-control" rows="2"
                            placeholder="Type your address"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="" value="" name="city">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="" value="" name="country">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Postal Code</label>
                        <input type="text" class="form-control" placeholder="" value="" name="postalCode">
                    </div>
                </div>
            </div>
            <h4>Contact Details</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="" value="" name="firstName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="" value="" name="lastName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Gender</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Designation</label>
                        <input type="text" class="form-control" placeholder="" value="" name="designation">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Office Phone</label>
                        <input type="text" class="form-control" placeholder="" value="" name="officePhone">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" class="form-control" placeholder="" value="" name="mobile">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="" value="" name="email">
                    </div>
                </div>
            </div>
            <h4>Settings</h4>
            <div class="row">
                <div class="col-md-3">
                    <label>Languages</label>
                    <div class="form-group" name="language">

                        <input type="checkbox" name="English" value="English">&nbsp;
                        <label for="English"> English</label>&nbsp;

                        <input type="checkbox" name="Chinese" value="Chinese">&nbsp;
                        <label for="Chinese">Chinese</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Maximum Users</label>
                        <input type="text" class="form-control" placeholder="" value="" name="maximumUsers">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Staff Reimbursement Type</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="cash">Cash</mat-option>
                                <mat-option value="Cheque">Cheque </mat-option>
                                <mat-option value="neft">NEFT</mat-option>
                                <mat-option value="imps">IMPS </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Staff Reimbursement $</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option3">Option 2 </mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                                <!-- <mat-option value="imps">IMPS </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Currency</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="SGD">SGD</mat-option>
                                <mat-option value="INR">INR </mat-option>
                                <mat-option value="USD">USD</mat-option>
                                <!-- <mat-option value="imps">IMPS </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Mode of Payment</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="Cash">Cash</mat-option>
                                <mat-option value="NetBanking">Net Banking </mat-option>
                                <!-- <mat-option value="option3">Option 3</mat-option> -->
                                <!-- <mat-option value="imps">IMPS </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Commission (%)</label>
                        <input type="text" class="form-control" placeholder="" value="" name="commission">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Payment Frequency</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="Monthly">Monthly</mat-option>
                                <mat-option value="Quaterly">Quaterly </mat-option>
                                <mat-option value="Annualy">Annualy</mat-option>
                                <!-- <mat-option value="imps">IMPS </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="type">Active Status</label><br>
                        <mat-form-field appearance="">
                            <mat-label>Select One</mat-label>
                            <mat-select>
                                <mat-option value="Active">Active</mat-option>
                                <mat-option value="Not Active">Not Active </mat-option>
                                <!-- <mat-option value="option3">Option 3</mat-option> -->
                                <!-- <mat-option value="imps">IMPS </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Upload Logo</label>
                        <input type="file" id="myfile" name="myfile">
                        <h5 style="color:red;">width: 150px, height: 50px</h5>
                    </div>
                </div>
            </div>

            <h4>Domain Details</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="" value="" name="emailDomain">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sub Domain</label>
                        <input type="text" class="form-control" placeholder="" value="" name="subDomain">
                        <label>XXXX.olivebranch.com.sg</label>
                    </div>
                </div>
            </div>


            <h4>Create Packages</h4>

            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tableHeader"> Package Name </th>
                                <th class="tableHeader"> Package Sessions </th>
                                <th class="tableHeader"> Package Amount </th>
                                <th class="tableHeader"> Valid For</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dynamic of packages; let i = index;">
                                <!-- <td>{{dynamic  .CourseTitle}}</td> -->
                                <td>
                                    <input [(ngModel)]="packages[i].packageName" class="form-control" type="text"
                                        name="'packageName'+{{i}}" />
                                </td>
                                <td>
                                    <input [(ngModel)]="packages[i].packageSession" class="form-control"
                                        type="Organisation" name="'packageSession'+{{i}}" />
                                </td>
                                <td>
                                    <input [(ngModel)]="packages[i].packageAmount" class="form-control"
                                        name="'packageAmount'+{{i}}" type="text" />
                                </td>
                                <td>

                                    <mat-form-field appearance="">
                                        <mat-label>Select One</mat-label>
                                        <mat-select [(ngModel)]="packages[i].validFor" name="'validFor'+{{i}}">
                                            <mat-option value="30">30 days</mat-option>
                                            <mat-option value="60">60 days </mat-option>
                                            <mat-option value="60">180 days </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <tr>
                        <td colspan="4" (click)="addRowPackage(i)">
                            <button mat-raised-button style="float:right;" color="primary">ADD</button>
                        </td>
                    </tr>
                </div>
            </div>

            <h4>Select Counsellors</h4>

            <div class="row">
                <div class="col-md-10">
                    <table class="table">

                        <tbody>
                            <tr *ngFor="let dynamic of counsellors; let i = index;">

                                <td>
                                    <mat-form-field appearance="">
                                        <mat-label>Select One</mat-label>
                                        <mat-select [(ngModel)]="counsellors[i]" name="'counsellor'+{{i}}">
                                            <mat-option value="30">30 days</mat-option>
                                            <mat-option value="60">60 days </mat-option>
                                            <mat-option value="60">180 days </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <tr>
                        <td colspan="4" (click)="addRowCounsellor(i)">
                            <button mat-raised-button style="float:right;" color="primary">ADD</button>
                        </td>
                    </tr>
                </div>
            </div>
            <h4>Session Fee</h4>

            <div class="row">
                <div class="container">
                    <h4 style="color:black;">Adult - Couple Session</h4>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Name</label>
                            <input type="text" class="form-control" placeholder="Couple Session" value=""
                                name="sessionName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Fee</label>
                            <input type="text" class="form-control" placeholder="190.00" value="" name="sessionFee">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Time</label>
                            <input type="text" class="form-control" placeholder="80-90 minutes" value=""
                                name="sessionTime">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <h4 style="color:black;">Teenager Issues(13-19)</h4>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Name</label>
                            <input type="text" class="form-control" placeholder="Individual Session" value=""
                                name="sessionName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Fee</label>
                            <input type="text" class="form-control" placeholder="150.00" value="" name="sessionFee">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Time</label>
                            <input type="text" class="form-control" placeholder="50-60 minutes" value=""
                                name="sessionTime">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <h4 style="color:black;">Child Concerns(3-12)</h4>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Name</label>
                            <input type="text" class="form-control" placeholder="Child Session" value=""
                                name="sessionName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Fee</label>
                            <input type="text" class="form-control" placeholder="150.00" value="" name="sessionFee">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Session Time</label>
                            <input type="text" class="form-control" placeholder="50-60 minutes" value=""
                                name="sessionTime">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <button mat-stroked-button style="float:right;background-color:#ffe6e6;">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>